<ul class="nav navbar-nav navbar-right">
						<li><a href="index.html">Home</a></li>
						<li><a href="outline.html">Outline</a></li>
						<li><a href="lust.html">Lust</a></li>
						<li><a href="tale.html">Tale</a></li>
                                                <li><a href="kick-off.html">Kick Off</a></li>
						<li><a href="if-you-want-me.html">If you want me</a></li>
					</ul>
